@import variablen.sass

// Scrollbar [innerhalb des BODY]
::-webkit-scrollbar
  width: 5px
  height: 5px
  z-index: 5

::-webkit-scrollbar-track
  background-color: $farbe-corporate-identity-1

::-webkit-scrollbar-thumb:vertical
  background: $farbe-corporate-identity-2

::-webkit-scrollbar-thumb:horizontal
  background: $farbe-corporate-identity-2
