// Farbe -- Aktuelle Corporate Identity -- 1 -- Dunklere Farbe
$farbe-corporate-identity-1: rgb(0, 0, 0)

// Farbe -- Aktuelle Corporate Identity -- 2 -- Hellere Farbe
$farbe-corporate-identity-2: rgb(0, 255, 103)

// ----------------//

// Farbe -- Basis -- Weiß
$farbe-basis-weiss: rgb(255, 255, 255)

// Farbe -- Basis -- Schwarz
$farbe-basis-schwarz: rgb(0, 0, 0)

// Farbe -- Basis -- Transparent
$farbe-basis-transparent: rgba(0, 0, 0, 0)
