@import ../variablen.sass

// Allgemein
html, body
  overflow-x: hidden

hr
  width: 100%
  height: 4px
  margin: 10px 0px
  border: none

ol
  list-style-type: decimal-leading-zero
  margin: 0px 0px 25px 25px !important


.Button
  width: 100%
  height: 50px
  margin: 25px 0px
  display: flex
  justify-content: space-around
  align-items: center
  -webkit-transition: all 0.4s ease-in
  -moz-transition: all 0.4s ease-in
  -o-transition: all 0.4s ease-in
  transition: all 0.4s ease-in

.Button > p
  margin: 0px

// Key-Visual -- Bild
#KeyVisual
  width: 100vw
  height: 100vh
  position: fixed
  top: 0px
  left: 0px
  background-image: url('../medien/keyvisual-querformat.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden
  background-color: $farbe-corporate-identity-1
  z-index: -1 !important

// Veranstaltung-Datum -- Zeitraum
#VeranstaltungsDatum
  width: 100vw
  padding: 25px
  z-index: 10
  margin: calc(100vh - 94.8px) 0px 0px 0px !important

#VeranstaltungsDatum > h1, #VeranstaltungsDatum > h2, #VeranstaltungsDatum > h3, #VeranstaltungsDatum > h4, #VeranstaltungsDatum > h5, #VeranstaltungsDatum > h6
  font-size: 2.8rem
  margin: 0px
  text-align: center

#VeranstaltungsDatumResponsiveReduktion
  display: none

// Veranstaltungserläuterung -- Veranstaltung Design Festival
#VorstellungDesignFestival
  width: 100vw
  padding: 25px 10vw
  display: flex
  justify-content: space-between
  align-items: center

#VorstellungDesignFestival > section:first-child
  width: calc(((100% / 3) - 12.5px))
  display: flex
  justify-content: space-around
  align-items: center

#VorstellungDesignFestival > section:first-child > img
  width: 70%

#VorstellungDesignFestival > section:last-child
  width: calc(((100% / 3) * 2) - 12.5px)

// Aufbau des Design-Festival
#AufbauDesignFestival
  width: 100vw
  padding: 25px 10vw
  display: flex
  justify-content: space-between
  align-items: top

#AufbauDesignFestival > div
  width: calc((100% / 3) - (50px / 3))

#AufbauDesignFestival > div > h1, #AufbauDesignFestival > div > h2, #AufbauDesignFestival > div > h3, #AufbauDesignFestival > div > h1, #AufbauDesignFestival > div > h4, #AufbauDesignFestival > div > h6
    text-align: center

#KurzUebersichtWorkshopleiter, #KurzUebersichtSymposiumsprecher
  width: 100%
  margin: 20px 0px 0px 0px

#KurzUebersichtWorkshopleiter > tbody > tr > td, #KurzUebersichtSymposiumsprecher > tbody > tr > td
  width: 50%

// Gäste-Trenner-Überschrift
#GaesteTrenner
  width: 100vw
  padding: 25px 10vw

#GaesteTrenner > h1, #GaesteTrenner > h2, #GaesteTrenner > h3, #GaesteTrenner > h4, #GaesteTrenner > h5, #GaesteTrenner > h6
  font-size: 2.8rem
  margin: 0px
  text-align: center

// Workshopleiter des Design-Festivals
#GaesteDesignFestival
  width: 100vw
  padding: 25px 10vw

#GaesteDesignFestival > h6
  text-align: center

.Workshop
  width: 100%
  margin: 0px 0px 4px 0px

.Workshop > header
  width: 100%
  height: 60px
  display: flex
  justify-content: space-around
  align-items: center

.Workshop > header > h1, .Workshop > header > h2, .Workshop > header > h3, .Workshop > header > h4, .Workshop > header > h5, .Workshop > header > h6
  margin: 0px

.Workshop > section
  width: 100%
  height: 0px
  display: flex
  justify-content: space-between
  align-items: top
  overflow-y: auto
  -webkit-transition: all 0.4s ease-in
  -moz-transition: all 0.4s ease-in
  -o-transition: all 0.4s ease-in
  transition: all 0.4s ease-in

.Workshop > section > section
  width: calc(50% - (25px / 2))
  height: 500px

.Workshop > section > section:first-child
  display: flex
  justify-content: center
  overflow: hidden !important

.Workshop > section > section:first-child > img
  height: 100%

.Workshop > section > section:last-child
  padding: 10px
  overflow-y: auto

.AbstandSymposiumSprecher
  height: 40px

// Key-Visual-Schmuckzeile
.DesignfestivalKeyVisualSchmuckzeile
  width: 100vw
  height: 80px
  background-image: url('../medien/keyvisual-schmuckzeile.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

// Open-Call
#OpenCallVideoInformation, #AnmeldungInformation
  width: 100vw
  padding: 0px
  margin: 94.8px 0px 0px 0px
  display: flex
  justify-content: space-between
  align-items: top
  flex-wrap: wrap
  z-index: -1 !important

#OpenCallVideoInformation > section:first-child
  width: calc(100vh - 94.8px)
  height: calc(100vh - 94.8px)

#AnmeldungInformation > section:first-child
  width: calc(100vh - 94.8px)
  padding: 25px
  background-color: $farbe-corporate-identity-1
  color: $farbe-corporate-identity-2

#AnmeldungInformation > section:first-child > img
  width: 90%
  margin: 0px 5%

#OpenCallVideoInformation > section:last-child
  width: calc(100vw - (100vh - 94.8px))
  height: calc(100vh - 94.8px)

#AnmeldungInformation > section:last-child
  width: calc(100vw - (100vh - 94.8px))

#AnmeldungInformation > section:last-child
  padding: 25px

#OpenCallVideoInformation > section:first-child > section
  margin: 0px 0px calc((100vh - 94.8px) * (-1)) 0px
  display: flex
  justify-content: space-around
  align-items: center

#OpenCallVideoInformation > section:first-child > section > .fas
  font-size: 3rem

#OpenCallVideoInformation > section
  flex: 0 0 auto

.PlayScreen, #OpenCallVideoInformation > section > video
  width: calc(100vh - 94.8px)
  height: calc(100vh - 94.8px)
  z-index: -1

#OpenCallVideoInformation > section:last-child
  padding: 25px

#OpenCallVideoInformation > section > header, #AnmeldungInformation > section > header
  text-align: center

#OpenCallVideoInformation > section > header:not(:first-child), #OpenCallVideoInformation > section > header:not(:first-child), #OpenCallVideoInformation > section > header:not(:first-child), #OpenCallVideoInformation > section > header:not(:first-child), #OpenCallVideoInformation > section > header:not(:first-child), #OpenCallVideoInformation > section > header:not(:first-child)
  margin: 50px 0px 0px 0px

#OpenCallVideoHinweis, #AnmeldungHinweis
  width: 100vw
  padding: 25px 10vw

#OpenCallVideoHinweis > section, #AnmeldungHinweis > section
  width: calc(50% - 12.5px)

// Footer des Design-Festivals
#FooterDesignFestival
  width: 100vw
  padding: 25px 10vw
  display: flex
  justify-content: space-between
  align-items: top

#FooterDesignFestival > div
  width: calc((100% / 3) - (50px / 3))

#FooterDesignFestival > div > h1, #FooterDesignFestival > div > h2, #FooterDesignFestival > div > h3, #FooterDesignFestival > div > h1, #FooterDesignFestival > div > h4, #FooterDesignFestival > div > h6
    text-align: center

#SocialMedia > div
  width: 70%
  margin: 20px 15%
  display: flex
  justify-content: space-between
  align-items: center

#FooterDesignFestival a
  -webkit-transition: all 0.4s ease-in
  -moz-transition: all 0.4s ease-in
  -o-transition: all 0.4s ease-in
  transition: all 0.4s ease-in

#SocialMedia .fa, #SocialMedia .fab
  font-size: 1.4em

// Danksagung ans Team des Design-Festivals
#DanksagungTeamDesignFestival
  width: 100vw
  padding: 25px 10vw
  margin: 94.8px 0px 0px 0px

#DanksagungTeamDesignFestival > p
  width: calc(50% - (25px / 2))

// Vorstellung des Teams des Design-Festivals
#TeamDesignFestival
  width: 100vw
  padding: 25px 10vw
  display: grid
  grid-template-columns: calc(50% - (25px / 2)) calc(50% - (25px / 2))
  grid-gap: 25px

.TeamKontakt
  width: 60%
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.TeamKontakt > p
  width: calc(50% - 12.5px)
  flex: 0 0 auto
  margin: 0px
  word-break: keep-all
  white-space: nowrap

.ZweiSpalten
  width: 100%
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.Oben
  align-items: top

.Unten
  align-items: flex-end

.ZweiSpalten > section
  width: calc(50% - 12.5px)
  margin: 25px 0px 0px 0px

// Test Farbkombinationen
.FarbkombinationenTest
  width: 100vw
  padding: 25px 10vw
  margin: 0px
